@import "src/styles/variables";
.playground {
	$color-main-background:rgba(255, 255, 255, 1);
	background:$color-main-background;
	animation: emerge 0.8s;
	position: relative;
	margin: 1em;


	.title{
		@include shadow-wriggle($color-yellow,$color-cyan);
		position: relative;
		z-index: 0;
		width: fit-content;
		h1{
			background-color:$color-main-background;
			border-radius: 0.1em;
			padding: 0.1em 0.3em;
			box-sizing: border-box;
		}
	}

	& >*{

	}

}
