// $color-background: rgb(15, 15, 15);
$color-background: rgba(255, 255, 255, 0.89);
$color-trivial: rgb(160, 135, 135);
// $color-text: rgb(0, 0, 0);
$color-highlight-1: rgb(105, 88, 88);
$color-highlight-2: rgba(36, 2, 2, 0.671);

$XS: 420px;
$S: 480px;
$M: 767px;
$ML: 992px;
$L: 1200px;

//media queries with
@mixin MQ($canvas) {
	@if $canvas==XS {
		@media only screen and (max-width: $XS) {
			@content;
		}
	}
	@if $canvas==S {
		@media only screen and (max-width: $S) {
			@content;
		}
	} @else if $canvas==M {
		@media only screen and (max-width: $M) {
			@content;
		}
	} @else if $canvas==ML {
		@media only screen and (max-width: $ML) {
			@content;
		}
	} @else if $canvas==L {
		@media only screen and (max-width: $L) {
			@content;
		}
	} @else {
		@media only screen and (max-width: $canvas) {
			@content;
		}
	}
}
