@import "src/styles/variables";
.home {
	animation: emerge 0.8s;
	display: flex;
	position: relative;
	// background: $im;
	// background-size: cover;
	// background: url(https://www.kuaifaka.com/static/img/back.f6b9993.png);
	@media only screen and (max-width: 800px) {
		flex-direction: column;
		background-color: black;
	}
	&__left {
		&::before {
			transition: all 1s ease-in;
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url("../../images/backgrounds/digital.jpg");
			clip-path: polygon(0 0, 80% 0, 0 80%);
			@media only screen and (max-width: 1200px) {
				clip-path: polygon(0 0, 70% 0, 0 70%);
			}
			@media only screen and (max-width: 800px) {
				background-image: url("../../images/backgrounds/network.gif");
				background-repeat: none;
				background-size: cover;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
				height: 300px;
			}
		}
		margin-right: 50px;
		flex-grow: 9;
		@media only screen and (max-width: 800px) {
			display: flex;
			flex-direction: column;
			margin-right: 0;
		}
		&__up {
			display: flex;
			@media only screen and (max-width: 800px) {
				flex-direction: column;
			}
		}
		&__bottom {
			display: flex;
			@media only screen and (max-width: 800px) {
				flex-direction: column;
				margin-top: 0;
				padding: 15px 20px 10px 20px;
				color: $color-trivial;
			}
		}
	}
	&__right {
		flex-grow: 1;
	}

	&__portrait {
		padding-top: 20px;
		flex-basis: 200px;
		flex-grow: 4;
		padding-left: 15%;
		@media only screen and (max-width: 800px) {
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 40px auto 0 auto;
			width: 100%;
			&::after {
				content: "Leon Li";
				font-family: "Permanent Marker", cursive;
				color: greenyellow;
				position: absolute;
				top: 80px;
				font-size: 30px;
			}
		}
		&__image {
			width: 100%;
			max-width: 500px;
			clip-path: polygon(25% 0, 100% 7%, 77% 100%, 0 83%);
			@media only screen and (max-width: 800px) {
				position: relative;
				top: 80px;
				clip-path: circle(38% at 50% 34%);
				width: 240px;
			}
		}
	}

	&__intro {
		flex-basis: 200px;
		flex-grow: 5;
		margin-top: 300px;
		color: black;
		font-size: 20px;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
		white-space: pre-wrap;
		animation: bounceIn 0.7s;
		@media only screen and (max-width: 800px) {
			margin-top: 30px;
			padding: 15px 20px 10px 20px;
			color: $color-trivial;
		}
	}
	&__banner {
		flex-grow: 3;
		flex-basis: 100px;
		height: 160px;
		position: relative;
		top: 20px;
		@media only screen and (max-width: 800px) {
			display: flex;
			justify-content: center;
			position: static;
		}
		.tm {
			background: -webkit-linear-gradient(rgb(207, 205, 189), rgb(230, 228, 228));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 60px;
			@media only screen and (max-width: 1000px) {
				font-size: 55px;
			}
			@media only screen and (max-width: 800px) {
				font-size: 30px;
			}
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: 100px;
		align-items: flex-start;
		padding-left: 4%;
		font-size: 15px;
		white-space: nowrap;
		-webkit-font-smoothing: antialiased;
		// color: $color-trivial;
		color: black;
		&__contact {
			margin-top: 5px;
			cursor: pointer;
			@media only screen and (max-width: 800px) {
				color: white;
			}
			i {
				font-size: 10px;
			}
		}
	}
	&__social {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 80%;
		padding-bottom: 10px;
		position: fixed;
		top: 56%;
		width: 50px;
		right: 0;
		@media only screen and (max-width: 800px) {
			position: absolute;
			top: 330px;
			flex-direction: row;
			height: auto;
			width: 100%;
			justify-content: center;
		}

		&__follow-me {
			position: relative;
			display: flex;
			white-space: nowrap;
			transform: rotate(90deg);
			color: $color-trivial;
			-webkit-font-smoothing: antialiased;
			font-size: 14px;
			margin-bottom: 80px;

			@media only screen and (max-width: 800px) {
				display: none;
			}
			&:after {
				content: "";
				width: 50px;
				height: 1px;
				background: $color-highlight-1;
				position: relative;
				top: 50%;
				left: 24px;
			}
		}
		&__icon {
			display: flex;
			justify-content: center;
			margin-top: 24px;
			@media only screen and (max-width: 800px) {
				margin-top: 0;
				transform: unset;
				margin: 0 10px;
			}
			i {
				font-size: 25px;

				&.fa-github-square {
					color: #333;
					@media only screen and (max-width: 800px) {
						color: rgb(99, 146, 46);
					}
				}
				&.fa-linkedin {
					color: #0077b5;
				}
				&.fa-instagram-square {
					color: #c13584;
				}
			}
		}
	}
}
