@import "src/styles/variables";

.drawing-board{
	position: relative;
	margin:0 5px;
	height:500px;
	box-sizing: border-box;
	.button{
		position: absolute;
		top: 0;
		color: $color-trivial;
		background: rgb(92, 85, 77);;
		width: 3em;
		cursor:pointer;
		box-shadow: 0 0px 3px 0px rgb(216, 203, 203);
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding: 0.5em 0.8em;
	}
	.canvas-wrapper{
		box-sizing: border-box;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		canvas{
			background-color: #f7f4e8;
		}
	}
	.paper{
		// box-sizing: border-box;
		// &:before, &:after{
		// 	box-sizing: border-box;
		// 	z-index: 1;
		// 	position: absolute;
		// 	content: "";
		// 	background-color: red;
		// 	bottom: 20px;
		// 	left: 10px;
		// 	width: 50%;
		// 	bottom: 0px;
		// 	max-width:20%;
		// 	background: #777;
		// 	box-shadow: 0 15px 10px #777;
		// 	transform: rotate(-3deg);
		// }
		// &:after{
		// 	transform: rotate(3deg);
		// 	right: 10px;
		// 	left: auto;
		// }
	}
}
