@import "src/styles/variables";
.navigation-bar {
	z-index: 2;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 30px 5% 10px 5%;
	font-size: 16px;
	border-bottom: 2px solid rgba(126, 76, 29, 0.411);
	background-color: white;
	@media only screen and (max-width: 800px) {
		padding-left: 0;
		padding-right: 0;
	}
	&__name {
		display: flex;
		flex-grow: 3;
		@media only screen and (max-width: 800px) {
			display: none;
		}
		&__first {
			font-family: "Permanent Marker", cursive;
			color: $color-trivial;
			font-size: 20px;
			&::after {
				content: " ";
				white-space: pre;
			}
		}
		&__second {
			font-size: 20px;
			font-family: "Permanent Marker", cursive;
			color: black;
		}
	}

	&__top-bar {
		display: flex;
		flex-grow: 1;
		justify-content: space-around;

		li {
			list-style-type: none;
			.navigation-bar__language {
				color: $color-trivial;
				@media only screen and (max-width: 800px) {
					span {
						font-size: 12px;
					}
				}
				&__menu {
					overflow: hidden;
					background-color: white;
					width: 72px;
					position: absolute;
					display: flex;
					flex-direction: column;
					li {
						padding-top: 5px;
						text-transform: capitalize;
						color: $color-trivial;
						&:hover {
							color: $color-highlight-1;
						}
					}
					&.display-none {
						display: none;
					}
				}
			}
			a {
				padding: 2px;
				display: inline-block;
				height: 100%;
				position: relative;
				color: $color-trivial;
				bottom: 0;
				//Todos: tech-dept. increase height to match active border. need make nav-bar a fix height instead.
				border: transparent 2px dashed;
				@media only screen and (max-width: 800px) {
					span {
						font-size: 12px;
					}
				}
				&.active {
					animation: spin3d 0.3s;
					color: $color-highlight-2;
					font-weight: 700;
					border: $color-highlight-1 2px dashed;
				}
			}
			&:hover {
				cursor: pointer;
				a {
					transition: all 0.3s;
					bottom: 2px;
				}
			}
		}
	}

	&__side-bar {
		display: flex;
		&.hide {
			display: none;
		}
		flex-direction: column;

		&__menu-button {
			cursor: pointer;
			width: 20px;
			height: 20px;
			appearance: none;
			outline: none;
			mask-image: url("/images/icons/icon-menu.svg");
			mask-position: center;
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $color-trivial;
			background-size: 100%;
		}
		&__options {
			&.hide {
				display: none;
			}
		}
		li {
			list-style-type: none;
			a {
				color: $color-highlight-1;
			}
		}
	}
}
