@import "src/styles/variables";

.navigation-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	padding-top: 40px;
	font-size: 16px;

	&__name {
		display: flex;
		flex-grow: 3;
		text-transform: capitalize;
		&__first {
			color: $color-trivial;
			&::after {
				content: " ";
				white-space: pre;
			}
		}
		&__second {
			color: $color-highlight-white;
		}
	}

	&__top-bar {
		display: flex;
		flex-grow: 1;
		justify-content: space-around;
		background-color: transparent;
		li {
			list-style-type: none;
			a {
				position: relative;
				color: $color-trivial;
				bottom: 0;
				&.active {
					color: $color-highlight-white;
					border-bottom: yellowgreen 1px solid;
				}
			}
			&:hover {
				cursor: pointer;
				a {
					transition: all 0.5s;
					bottom: 5px;
				}
			}
		}
	}

	&__side-bar {
		background-color: transparent;
		display: flex;
		&.hide {
			display: none;
		}
		flex-direction: column;

		&__menu-button {
			cursor: pointer;
			width: 20px;
			height: 20px;
			appearance: none;
			outline: none;
			mask-image: url("/images/icons/icon-menu.svg");
			mask-position: center;
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $color-trivial;
			background-size: 100%;
		}
		&__options {
			&.hide {
				display: none;
			}
		}
		li {
			list-style-type: none;
			a {
				color: $color-highlight-white;
			}
		}
	}
}
