@import "src/styles/variables";
@import "~antd/dist/antd.css";

.App {
	background-color: $color-background;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;

	a {
		text-decoration: none;
	}
	.invisible {
		visibility: hidden;
	}
	main {
		display: flex;
		flex-direction: column;
		height: auto;
		margin-top: 43px;
		.transit {
			height: 30vh;

			@media screen and (max-width: 800px) {
				margin-top: 0;
				background: black;
			}
		}
	}
}
