@import "src/styles/variables";

.App {
	background-color: $color-background;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;

	a {
		text-decoration: none;
	}
	.invisible {
		visibility: hidden;
	}
	main {
		display: flex;
		flex-grow: 1;
		margin-top: 60px;
		position: fixed;
		display: flex;
		height: 100%;
		margin-top: 60px;
		flex-grow: 1;
		overflow: scroll;
	}
}
