@import "src/styles/variables";
@import "~antd/dist/antd.css";

.App {
	background-color: $color-background;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	background-color: white;
	@media only screen and (max-width: 800px) {
		background-color: black;
	}
	a {
		text-decoration: none;
	}
	.invisible {
		visibility: hidden;
	}
	main {
		display: flex;
		flex-direction: column;
		margin-top: 43px;
	}
}
