@import "./styles/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
* {
	font-family: Roboto;
	letter-spacing: 0.6px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@keyframes emerge {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes grow {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}
