@import "./styles/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
* {
	font-family: Roboto;
	letter-spacing: 0.6px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@keyframes emerge {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes grow {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}
@keyframes spin3d {
	0% {
		position: relative;
		transform: scale3d(1, 1, 1);
	}

	50% {
		position: relative;
		transform: scale3d(1, -1, 1);
	}

	100% {
		position: relative;
		transform: scale3d(1, 1, 1);
	}
}
@keyframes slide-from-right {
	0% {
		opacity: 0;
		position: relative;
		right: -300px;
	}
	80% {
		opacity: 0.5;
		position: relative;
		right: -60px;
	}
	100% {
		opacity: 1;
		position: relative;
		right: 0px;
	}
}
@keyframes backgound-roll-up {
	0% {
		background-position: 0px 200px;
		opacity: 0;
	}

	100% {
		background-position: 0px 0px;
		opacity: 1;
	}
}
