@import "src/styles/variables";
.homePage {
	display: flex;
	height: 100%;
	background: rgb(236, 231, 204);
	background: linear-gradient(328deg, rgba(255, 254, 248, 1) 62%, rgba(236, 231, 204, 1) 0%);

	flex-grow: 1;
	&__left {
		flex-grow: 9;
		&__up {
			display: flex;
		}
		&__bottom {
			display: flex;
		}
	}
	&__right {
		flex-grow: 1;
	}

	&__portrait {
		flex-basis: 200px;
		flex-grow: 4;
		padding-left: 15%;
		// min-width: 30vw;
		// max-width: 50vw;
		max-height: 80vh;
		display: block;
		overflow: hidden;
		&__image {
			width: 100%;
			clip-path: polygon(28% 0, 100% 7%, 77% 100%, 0 83%);
		}
	}

	&__intro {
		flex-basis: 200px;
		flex-grow: 5;
		margin-top: 40vh;
		color: $color-highlight-1;
		font-size: 20px;
		font-weight: 300;
		white-space: pre-wrap;
	}
	&__banner {
		.Typewriter__wrapper {
			margin-left: 20vw;
			font-size: 72px;
			background: -webkit-linear-gradient(rgb(207, 205, 189), rgb(230, 228, 228));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	&__social {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		&__follow-me {
			position: relative;
			display: flex;
			white-space: nowrap;
			color: $color-highlight-1;
			transform: rotate(90deg);
			margin-bottom: 80px;
			&:after {
				content: "";
				width: 50px;
				height: 1px;
				background: $color-highlight-1;
				position: relative;
				top: 50%;
				left: 24px;
			}
		}
		&__icon {
			display: flex;
			justify-content: center;
			margin-top: 24px;
			i {
				font-size: 22px;

				&.fa-github-square {
					color: #333;
				}
				&.fa-linkedin {
					color: #0077b5;
				}
			}
		}
	}
}
