.portfolio {
	padding-bottom: 30px;
	display: flex;
	width: 100vw;
	height: 100%;
	overflow: scroll;
	flex-direction: column;
	align-items: center;
	.project {
		$border-commercial: rgb(239, 101, 45) 4px solid;
		$border-personal: rgb(255, 200, 17) 4px solid;
		border-radius: 3px;
		position: relative;
		margin-top: 60px;
		width: 80%;
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		border: $border-personal;
		&--commercial {
			border: $border-commercial;
		}
		&__header {
			padding: 20px 25px 5px 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: inherit;
		}

		&__name {
			font-size: 35px;
			font-weight: 900;
			display: inline;
			margin-right: 10px;
		}
		&__type {
			$color-commercial: rgba(236, 125, 81, 0.9);
			// font-style: italic;
			background-color: $color-commercial;
			height: 40px;
			width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -20px;
			right: -20px;
			border-radius: 3px;
		}
		&__year {
		}
		&--commercial {
			.project__type {
				$color-personal: rgba(245, 211, 100, 0.95);
				background-color: $color-personal;
			}
		}
		&__content {
			padding: 20px 25px 25px 25px;
			display: flex;
			&__left {
				display: flex;
				flex-direction: column;
			}
		}
		&__image {
			flex-grow: 0;
			flex-shrink: 0;
			width: 400px;
			height: fit-content;
			margin-right: 20px;
			border: rgb(221, 210, 205) 1px solid;
			img {
				width: 100%;
				object-fit: cover;
			}
		}

		&__description {
			margin-bottom: 15px;
			&__title {
				font-family: sans-serif;
				font-weight: bold;
				margin-bottom: 5px;
			}
		}
		&__stack {
			&__title {
				font-family: sans-serif;
				font-weight: bold;
				margin-bottom: 2px;
			}
			.skill-set {
				margin-bottom: 5px;
				padding: 3px;
				border-bottom: 3px solid rgba(226, 172, 23, 0.212);
				&__name {
					// color: rgb(148, 145, 145);
					font-size: 14px;
					display: inline;
					&:after {
						content: ": ";
					}
				}
				&__detail {
				}
			}
		}
	}
}
