.portfolio {
	padding-bottom: 30px;
	display: flex;
	width: 100vw;
	height: 100%;
	overflow: scroll;
	flex-direction: column;
	align-items: center;

	.project {
		// box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.342);

		$border-commercial: rgb(239, 101, 45) 4px solid;
		$border-personal: rgb(255, 200, 17) 4px solid;
		border-radius: 3px;
		position: relative;
		margin-top: 60px;
		width: 80%;
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		border: $border-personal;
		@media only screen and (max-width: 510px) {
			width: 94%;
		}
		&--commercial {
			border: $border-commercial;
		}
		&__header {
			flex-wrap: wrap;
			padding: 20px 25px 5px 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media only screen and (max-width: 800px) {
				padding-top: 23px;
			}
			@media only screen and (max-width: 500px) {
				padding: 23px 15px 5px 15px;
			}
		}

		&__name {
			font-size: 35px;
			font-weight: 900;
			display: inline;
			margin-right: 10px;
			@media only screen and (max-width: 510px) {
				font-size: 30px;
			}
		}
		&__type {
			transition: all 0.2s linear;
			height: 40px;
			width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -20px;
			right: -20px;
			border-radius: 3px;
			@media only screen and (max-width: 800px) {
				font-size: 14px;
				width: 160px;
				transform: rotate(20deg);
				top: -20px;
				right: -47px;
			}
			@media only screen and (max-width: 510px) {
				font-size: 12px;
				width: 130px;
				transform: none;
				height: 30px;
				top: -21px;
				right: 10px;
			}
		}
		&--personal {
			.project__type {
				background-color: rgb(236, 125, 81);
			}
		}
		&--commercial {
			.project__type {
				background-color: rgb(245, 211, 100);
			}
		}
		&__link {
			margin-left: 5px;
			font-size: 20px;
			position: relative;
			top: -12px;
		}
		&__year {
			@media only screen and (max-width: 800px) {
				min-width: 100%;
			}
			@media only screen and (max-width: 510px) {
				font-size: 14px;
			}
		}

		&__content {
			padding: 20px 25px 25px 25px;
			display: flex;
			flex-wrap: wrap;
			@media only screen and (max-width: 500px) {
				padding: 10px 15px 15px 15px;
			}
			&__left {
				padding: 0 1px;
				display: flex;
				flex-direction: column;
				flex-grow: 5;
				flex-basis: 300px;
				flex-shrink: 0;
			}
		}
		&__image {
			box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.15);
			flex-grow: 3;
			flex-basis: 300px;
			flex-shrink: 0;
			height: fit-content;
			margin-right: 20px;
			border: 1px solid rgba(0, 0, 0, 0.125);
			margin-bottom: 20px;
			@media only screen and (max-width: 800px) {
				margin-right: 0;
			}
			img {
				width: 100%;
				object-fit: cover;
			}
		}

		&__description {
			margin-bottom: 15px;
			&__title {
				font-family: sans-serif;
				font-weight: bold;
				margin-bottom: 5px;
			}
		}
		&__role {
			margin-bottom: 15px;
			&__title {
				font-family: sans-serif;
				font-weight: bold;
				margin-bottom: 5px;
			}
		}
		&__stack {
			&__title {
				font-family: sans-serif;
				font-weight: bold;
				margin-bottom: 2px;
			}
			.skill-set {
				margin-bottom: 5px;
				padding: 3px;
				border-bottom: 3px solid rgba(226, 172, 23, 0.212);
				&__name {
					// color: rgb(148, 145, 145);
					font-size: 14px;
					display: inline;
					&:after {
						content: ": ";
					}
				}
				&__detail {
				}
			}
		}
	}
}
