.portfolio {
	display: flex;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	.project {
		margin-top: 30px;
		border: red 1px solid;
		width: 80%;
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__name {
			font-size: 30px;
		}
		&__content {
			border: 1px solid black;
			display: flex;
			&__left {
				display: flex;
				flex-direction: column;
			}
		}
		&__image {
			min-width: 400px;
			max-height: 300px;
			min-height: 300px;
			background-color: green;
		}
		&__description {
			background-color: red;
		}
		&__stack {
		}
	}
}
